@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Login" asp-action="Logout" method="get">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
}
else
{
    <h1>Register</h1>
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" required/>
        </div>
        <p>@ViewData["Error"]</p>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
}