@{
    ViewData["Title"] = "Home Page";
}

<p>@ViewData["logged"]</p>
<p>@ViewData["id"]</p>
<p>@ViewData["name"]</p>
<div class="text-center">
    <h1 class="display-4">MyCalendar</h1>
    <p>Do something with your life</p>
    <img alt="calenar_img" src="calendar.jpg" style="width: 50%"/>
</div>